---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="Beneficios | Shaolin">
  <PageHeader
    title="Beneficios"
    description="Descubre cómo la práctica del Tai Ji Quan puede transformar tu vida."
  />
  <div class="max-w-3xl mx-auto">
    <div class="grid md:grid-cols-2 gap-6">
      <div class="bg-gray-100 p-6 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-400 mb-2">Mejora de la salud física</h2>
        <ul class="list-disc list-inside space-y-2 text-gray-200">
          <li>Fortalece las articulaciones y mejora la flexibilidad</li>
          <li>Promueve la circulación sanguínea y la salud cardiovascular</li>
        </ul>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-400 mb-2">Reducción del estrés</h2>
        <ul class="list-disc list-inside space-y-2 text-gray-200">
          <li>La práctica consciente y rítmica ayuda a calmar la mente y reducir la ansiedad</li>
        </ul>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-400 mb-2">Desarrollo de la energía interna</h2>
        <ul class="list-disc list-inside space-y-2 text-gray-200">
          <li>Fomenta el flujo del Qi, mejorando la vitalidad general</li>
        </ul>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-400 mb-2">Incremento del equilibrio y la coordinación</h2>
        <ul class="list-disc list-inside space-y-2 text-gray-200">
          <li>Ideal para personas mayores, ya que ayuda a prevenir caídas y mejorar la postura.</li>
        </ul>
      </div>
    </div>
    <p class="mt-6 mb-6 text-gray-200 leading-relaxed">
      Hoy en día, el Sun Tai Ji Quan es practicado en todo el mundo, tanto como arte marcial como ejercicio de bienestar. 
      Su enfoque inclusivo y adaptable lo hace especialmente popular en programas de rehabilitación y entre personas mayores.
    </p>
    <p class="mt-6 mb-6 text-gray-200 leading-relaxed">
      También es una excelente intr
      oducción al Tai Chi para principiantes debido a su simplicidad y accesibilidad.
      En un mundo donde el estrés y los problemas de salud están en aumento, el Sun Tai Ji Quan ofrece una herramienta invaluable para cultivar la paz interior y la salud integral.
    </p>
    <p class="mt-6 mb-6 text-gray-200 leading-relaxed">
      En resumen, el Sun Tai Ji Quan combina tradición, filosofía y salud en un sistema marcial accesible y poderoso. 
      Ya sea como defensa personal o como práctica de meditación en movimiento, este estilo sigue siendo un legado duradero de Sun Lutang y un tesoro dentro del mundo de las artes marciales internas.
    </p>
  </div>
</Layout>

