---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="Clases | Taiji Quan">
  <PageHeader
    title="Nuestras Clases"
    description="Explora las diferentes clases y niveles que ofrecemos en nuestra escuela Sun Taiji Quan."
  />
  <div class="max-w-3xl mx-auto">
    <div class="space-y-8">
      <div>
        <p class="text-gray-200 leading-relaxed">
          En nuestras clases grupales de Sun Taiji Quan, cada estudiante recibe un entrenamiento tanto teórico como práctico, adaptado específicamente a su nivel. 
          Nos enfocamos en brindar una enseñanza integral que combine la comprensión profunda de los principios del Taiji con la práctica constante y detallada de las formas tradicionales. 
          Nuestro objetivo es guiar a cada estudiante a través de su propio proceso de desarrollo, ayudándolos a avanzar con confianza y precisión en su camino marcial. 
          Ofrecemos tres niveles que permiten a los estudiantes progresar de manera efectiva, cada uno enfocado en fortalecer tanto la técnica como la mente.
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-slate-400 mb-2">Principiantes</h2>
        <p class="text-gray-200 leading-relaxed">
          En este nivel, los estudiantes se enfocan en la fundamentación del estilo Sun Taiji Quan. 
          Se enseñan las bases esenciales, incluyendo prácticas de atención plena (mindfulness) y los principios de movimiento en la forma tradicional de Sun Taiji Quan. 
          Comenzamos con las primeras secciones de la forma, buscando asegurar que cada estudiante tenga una base sólida antes de avanzar a prácticas más complejas.
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-slate-400 mb-2">Intermedios</h2>
        <p class="text-gray-200 leading-relaxed">
          El nivel intermedio profundiza en los aspectos internos del Taiji Quan, combinando la práctica con la filosofía taoísta que guía este arte marcial. 
          Se estudian los ciclos de Tui Shou (empujes de mano) y se perfeccionan las habilidades en la forma tradicional de Sun Taiji Quan, avanzando hacia secciones más complejas y desafiantes. 
          Este nivel también pone énfasis en la armonización del cuerpo y la mente, enseñando cómo aplicar los principios del Taiji en la vida diaria.
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-slate-400 mb-2">Avanzados</h2>
        <p class="text-gray-200 leading-relaxed">
          En el nivel avanzado, los estudiantes completan y perfeccionan la forma tradicional de Sun Taiji Quan. 
          Aquí, el enfoque está en afinar las aplicaciones marciales del Taiji, perfeccionando técnicas y movimientos. 
          Además, los estudiantes comienzan a estudiar el arte de la espada Taiji Jian, integrando la teoría y la práctica de esta poderosa herramienta dentro del Taiji Quan. Este nivel está destinado a aquellos que buscan una comprensión más profunda del arte, tanto en términos de autodefensa como en el aspecto filosófico y energético.
        </p>
        <p class="text-gray-200 leading-relaxed">
          En cada nivel, nuestro maestro e instructores ofrecen atención personalizada, guiando a los estudiantes para que logren un crecimiento constante, respetando el ritmo de cada uno y asegurando que todos experimenten los beneficios del Sun Taiji Quan de manera. 
        </p>
      </div>
    </div>
  </div>
</Layout>

