---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="Filosofía | Taiji Quan Uruguay">
  <PageHeader
    title="Nuestra Filosofía"
    description="La sabiduría ancestral que guía nuestro camino en el Tai chi tradicional estilo Sun."
  />
  
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
        <div>
          <div class="max-w-lg md:max-w-none">
            <p class="mb-6 text-gray-500 leading-relaxed">
              La filosofía de Sun Lutang se basa en principios profundos que integran el taoísmo, las artes marciales y la medicina tradicional china. Su enfoque incorpora conceptos fundamentales como:
            </p>
            <ol start="5">
              <li>
                1. El Wu Ji: Este concepto representa el estado primordial de vacío y potencial ilimitado. Es el estado previo a la manifestación del Yin y el Yang, y simboliza el equilibrio absoluto y la armonía cósmica. Para Sun Lutang, el Wu Ji es la base de la práctica marcial, donde todo comienza y todo regresa al centro.
              </li>
              <li>
                2. El Yin y el Yang: Sun Lutang aplicó el principio de Yin y Yang en sus enseñanzas de Taiji Quan. Este dualismo refleja la interdependencia de fuerzas opuestas pero complementarias en el universo. El Yin (pasivo, femenino, frío) y el Yang (activo, masculino, caliente) no existen por separado, sino que se transforman constantemente el uno en el otro, manteniendo un flujo dinámico que genera equilibrio y armonía.
              </li>
              <li>
                3. Las 5 fases de energía: Basadas en la teoría de los Cinco Elementos (Madera, Fuego, Tierra, Metal y Agua), las 5 fases de energía son un modelo para comprender las transformaciones y relaciones entre las fuerzas naturales y los órganos internos del cuerpo. Sun Lutang incorporó estas fases en su práctica para equilibrar la energía interna, mejorar la salud y optimizar el rendimiento físico y mental.
              </li>
              <li>
                4. Los 8 trigramas (Ba Gua): Los 8 trigramas son una representación simbólica de las fuerzas cósmicas en el I Ching (Libro de los Cambios). Estos trigramas reflejan las interacciones entre los principios de Yin y Yang en diferentes formas. Sun Lutang aplicó estos principios a la práctica de Bagua Zhang y Taiji Quan, utilizando su simbología para guiar los movimientos fluidos y circulares, permitiendo la conexión entre el cuerpo, la mente y el universo.
              </li>
            </ol>
            <p class="mb-6 text-gray-500 leading-relaxed">
              La filosofía de Sun Lutang es un camino de armonía, equilibrio y transformación, que busca integrar estos principios fundamentales no solo en la práctica de las artes marciales, sino también en la vida cotidiana para alcanzar el bienestar físico, mental y espiritual.
            </p>
          </div>
        </div>
        <div>
          <Image
            src="/sifu_practica_monasterio.jpeg"
            class="rounded"
            width={1200}
					  height={800}
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

