---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="Linaje | Shaolin">
  <PageHeader
    title="Nuestro Linaje"
    description="Explora la rica herencia y el linaje de nuestra escuela Tai Ji Quan."
  />
  <div class="max-w-3xl mx-auto justify-items-center">
    <ol class="list-disc list-inside space-y-4 text-gray-500">
      <li>
         <h2>孙禄堂 (Sūn Lù Táng)</h2>
        <p><strong>祖師 (Zǔshī):</strong> Patriarca</p>
      </li>
      <li>
        <h2>孙振岱 (Sūn Zhèn Dài)</h2>
         <p><strong>Tatarabuelo</strong></p>
        <p><strong>宗師 (Zōngshī):</strong> Gran Maestro</p>
      </li>
      <li>
        <h2>孙雨人 (Sūn Yŭ Rén)</h2>
        <p><strong>Bisabuelo</strong></p>
        <p><strong>師太公 (Shī tàigōng):</strong> Título honorífico</p>
      </li>
      <li>
        <h2>孙玉奎 (Sūn Yù Kuí)</h2>
        <p><strong>Abuelo</strong></p>
        <p><strong>師公 (Shīgōng):</strong> Título honorífico</p>
      </li>
      <li>
        <h2>王德龙 (Wáng Dé Lóng)</h2>
        <p><strong>Padre</strong></p>
        <p><strong>師父 (Shīfù):</strong> Maestro</p>
      </li>
      <li>
        <h2>孙志刚 (Sūn Zhìgāng)</h2>
        <p><strong>Hijo de Sun Yukui</strong></p>
        <p><strong>Tío mayor</strong></p>
        <p><strong>師伯 (Shī bó):</strong> Título honorífico</p>
      </li>
      <li>
        <h2>秦灃 (Qin Feng) - Jorge Quiñones</h2>
        <p><strong>Discípulo</strong></p>
        <p><strong>弟子 (Dìzǐ):</strong> Bajo ceremonia <em>Bàishī</em> (拜師仪式)</p>
      </li>
    </ol>
  </div>
</Layout>
