---
import HorizontalGallery from './HorizontalGallery';

const images = [
  { src: "/familia_sun_monasterio.webp?height=200&width=300", alt: "Imagen 1" },
  { src: "/familia_sun_1.jpeg?height=200&width=300", alt: "Imagen 2" },
  { src: "/sifu_con_familia_sun.jpeg?height=200&width=300", alt: "Imagen 3" },
  { src: "/familia_sun_3.jpeg?height=200&width=300", alt: "Imagen 4" },
  { src: "/familia_sun_templo_1.webp?height=200&width=300", alt: "Imagen 5" },
  { src: "/practica_con_maestro.jpeg?height=200&width=300", alt: "Imagen 6" },
  { src: "/sifu_abat_monasterio.jpeg?height=200&width=300", alt: "Imagen 7" },
  { src: "/sifu_familia_uruguay.jpeg?height=200&width=300", alt: "Imagen 8" },
  { src: "/sifu_familia_sun.jpeg?height=200&width=300", alt: "Imagen 9" },
  { src: "/sifu_con_maestro.jpeg?height=200&width=300", alt: "Imagen 10" },
  { src: "/sifu_monasterio_1.jpeg?height=200&width=300", alt: "Imagen 11" },
  { src: "/sifu_con_maestro_1.jpeg?height=200&width=300", alt: "Imagen 12" },

];
---

<div class="mb-6 mt-6">
  <h2 class="text-7xl mb-6">Galería Imagenes</h2>
  <HorizontalGallery client:load images={images} />
</div>

<style>
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
</style>

