---
---

<div id="videoModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden">
    <div class="bg-white p-4 rounded-lg max-w-3xl w-full mx-4">
      <div class="relative w-full" style="padding-top: 56.25%;">
        <iframe
          id="modalVideo"
          src=""
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full rounded-lg"
        ></iframe>
      </div>
      <button id="closeVideoModal" class="mt-4 bg-celeste-500 text-white py-2 px-4 rounded hover:bg-celeste-600 transition duration-300">
        Cerrar
      </button>
    </div>
</div>